* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
}

.theme {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .theme {
    overflow-x: hidden; /* add here instead */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
